.search-form-input {
  background-color: #ffe5ec;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #fb6f92;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 6px;
  color: white;
}

.container {
  width: 80%;
}